.App {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top:2%;
}
body {
  background: #fcfcfc;
}

.form {
  padding: 1rem;
  background: #47bcc7;
  color: white;
  width:100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.form h6,
.form .btn {
  text-transform: uppercase;
  font-weight:700;
}
.form .btn {
  background: #bcc747;
}
.form label {
  text-transform: uppercase;
  font-weight:300;
  font-size:12px;
}

.card {
  background: transparent !important;
  border: none !important;
}
.card-body {
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card-body img {
  max-width: 300px;
  height: 200px;
  object-fit: cover;
}

.fa-solid {
  color: #c747bc;
}

i {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
    .card.body img {
      max-width: 300px;
      height: 300px;
      object-fit: cover;
  }
}